<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Short Your Url</h1>
   <form action="/url" method="POST">
    <label for="">Enter Your URL</label>
    <input type="text" name="originalUrl" placeholder="https://example.com" >
    <button type="submit">Generate</button>
   </form>
   <br>
   <div> 
    <% if (locals.id){ %>
        <h3>Short Url =  https://localhost:8000/url/<%= id %></h3>
        <% } %>
    
   </div>
   <% if (typeof urls !== "undefined" && urls.length > 0) { %>
   <div>
    <table>
        <th>index</th>
        <th>Short url</th>
        <th>Redirect</th>
        <th>clicks</th>
        <% urls.forEach((url , index) => { %>
           <tr>
            <td><%= index+1  %></td>
            <td><%= url.shortUrl %></td>
            <td><%= url.originalUrl %></td>
            <td><%= url.visitTrack.length %></td>
           </tr>
        <% }) %>
    </table>
   </div>
    <% } %>
</body>
</html>